@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000;
}

:root {

  --font-color-light: '#ffdda2';
  --cover-color: 'light-dark(rgb(30, 30, 31), rgb(231, 231, 233))';
  --bg-color: rgb(2, 2, 3);
  --dynamic-badge-color: #a8aab0;
  --dynamic-badge-primary-color: #4ac79b;
  --dynamical-badge-primary-color: #30a67b;
  --dynamic-base-1: #0c0e13;
  --dynamic-base-2: #1b1d22;
  --dynamic-base-3: #24272e;
  --dynamic-base-4: #282b33;
  --dynamic-font-family-primary: "DM Sans", sans-serif;
  --dynamic-font-family-numbers: "Roboto Mono", monospace, sans-serif;
}


body {
  font-family: var(--dynamic-font-family-primary);
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: #fff;
  box-sizing: border-box;
}




@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #0c0e13;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #374151;
}